.app{
  display:flex;
}

.plan{
  margin-left: 30px;
  margin-right: 30px;
}

.plan__parameters{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.Graph{
  margin-top: 40px;
  margin-left: 30px;
  width:800px;
  height:600px;
}

.lineGraph{
  margin-left: 40px;
  margin-top: 40px;
}